:root {
    --main: hsl(32, 15%, 77%);
    --accent: hsl(347, 29%, 30%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--main);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Commons */
img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    cursor: pointer;
    font-size: 48px;
}

/* Javascript */
.invisible {
    display: none !important;
    position: absolute;
}

.domainsMobile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    max-width: 1265px;
    margin: 10vh auto;
    gap: 2rem;
}

.regionDiv {
    margin: 0 auto;
}

.regionDiv:first-child {
    grid-row: 1 / span 3;
}

.regionDiv:nth-child(5) {
    grid-row: 4 / span 5;
}

.regionDiv div {
    width: 375px;
    height: 175px;
    position: relative;
    border: 1px solid #fff;
}

.regionDiv div h2 {
    font-size: 1.3rem;
    position: absolute;
    color: #fff;
    top: 1rem;
    left: 0.5rem;
    z-index: 100;
}

.regionDiv div ul {
    position: absolute;
    color: #fff;
    top: 3rem;
    left: 2rem;
    z-index: 100;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.regionDiv img {
    height: 175px;
    object-fit: cover;
    width: 100%;
    filter: brightness(40%);
}

/* Nav */
nav {
    height: 10vh;
    width: 100%;
    background-color: var(--main);
    display: grid;
    place-items: center;
    overflow: visible;
    position: sticky;
    z-index: 100;
    text-align: center;
}

nav a img {
    width: 75%;
}

/* Hero */
.hero {
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
    height: 70vh;
    width: 100%;
}

.hero img {
    object-fit: cover;
    width: 100%;
}

.hero-links {
    position: absolute;
    display: grid;
    gap: 2rem;
}

.hero a {
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: -50px;
}

.hero .nous {
    color: var(--accent);
}

.hero i {
    position: absolute;
    bottom: -14vh;
    left: 50%;
    font-size: 48px;
    padding: 2rem;
    transform: translateX(-50%);
}

.hero .shop {
    background-color: var(--accent);
    color: #fff;
}

i:hover {
    animation: shake 1s infinite;
}

@keyframes shake {
    0% {
    }

    50% {
        transform: translate(-50%, 15px);
    }
}

/* Beverage Choice */
.beverage-choice {
    max-width: 1200px;
    max-height: 700px;
    display: flex;
    flex-wrap: wrap;
    margin: 10% auto;
    gap: 1rem;
}

.beverage-choice div {
    height: 22vh;
    width: 250px;
    margin: auto;
    display: grid;
    place-items: center;
    position: relative;
    transition: all 0.5s ease;
    transform: rotate(45deg);
}

.beverage-choice div a {
    height: 25vh;
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
    color: #000;
    padding: 1rem;
}

.beverage-choice div:hover {
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

.beverage-choice div a h1 {
    position: absolute;
    transform: rotate(-90deg) translateY(35px);
}

.beverage-choice .whiskies a h1 {
    transform: rotate(-90deg) translateY(45px);
}

/* Map + Legend */
.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    overflow: hidden;
}

/* Map */
#chartdiv {
    height: 75vh;
    width: 100%;
    margin: auto;
}

.legend {
    margin: auto;
    border-radius: 5px;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 1);
}

.legend h1 {
    background-color: var(--accent);
    color: #fff;
    padding: 0.75rem;
    height: 50px;
}

.legend .region {
    display: flex;
    flex-wrap: wrap;
    max-height: 640px;
    max-width: 920px;
}

.legend .region .domain {
    width: 460px;
    position: relative;
    border: 1px solid #fff;
    flex-grow: 1;
}

.legend .region .domain h2 {
    position: absolute;
    color: #fff;
    top: 1rem;
    left: 1rem;
    z-index: 100;
}

.legend .region .domain ul {
    position: absolute;
    color: #fff;
    top: 3rem;
    left: 3rem;
    z-index: 100;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.legend img {
    height: 175px;
    object-fit: cover;
    width: 100%;
    filter: brightness(40%);
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    display: grid;
    place-items: center;
    width: 100%;
    background-color: var(--main);
    height: 8vh;
}
