:root {
    --main: hsl(32, 15%, 77%);
    --accent: hsl(347, 29%, 30%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--main);
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
}

#index {
    overflow: hidden;
}

/* Commons */
img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

i {
    cursor: pointer;
    font-size: 48px;
}

/* Javascript */
.invisible {
    display: none !important;
    position: absolute;
}

.blur {
    filter: opacity(0.05);
}

/* Nav */
nav {
    height: 10vh;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: visible;
    z-index: 10;
    text-align: center;
    margin-bottom: -10vh;
}

nav img {
    height: 175px;
    max-height: none;
}

/* Hero */
.hero {
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-links {
    position: absolute;
    display: grid;
    gap: 4rem;
}

.hero a {
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 5px;
    transition: scale 0.3s ease;
}

.hero a:hover {
    scale: 1.05;
    transition: scale 0.3s ease-out;
}

.hero .nous {
    color: var(--accent);
}

.hero .shop {
    background-color: var(--accent);
    color: #fff;
}

@keyframes shake {
    0% {
    }

    50% {
        transform: translate(-50%, 15px);
    }
}

/* Agency */
.agency {
    margin: 185px auto 2rem auto;
    max-width: 1200px;
    padding: 0 2rem;
}

.agency h2 {
    text-align: center;
    max-width: 50ch;
    margin: 0 auto;
}

.agency span {
    font-size: 1.5rem;
}

.agency .pierrick {
    margin: 2rem 0 4rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.txt {
    max-width: 60ch;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.agency .pierrick img,
.agency .carte img {
    border-radius: 5px;
    max-width: 325px;
    max-height: 435px;
    object-fit: contain;
}

/* Vins */
.carte {
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.carte .forward {
    display: grid;
}

.carte a {
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 5px;
    width: 275px;
    background-color: var(--accent);
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
}

/* Beverage Choice */
.beverage-choice {
    width: clamp(150px, 75%, 1200px);
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.beverage-choice div {
    height: 20vh;
    margin-top: 2rem;
    display: grid;
    place-self: center;
    place-items: center;
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

.beverage-choice div:hover {
    transition: all 0.5s ease;
    transform: rotate(0deg);
    cursor: pointer;
}

.beverage-choice div h1 {
    color: #000;
    position: absolute;
    transform: rotate(-90deg) translateY(135%);
    font-size: 2rem;
}

.beverage-choice .whiskies h1 {
    transform: rotate(-90deg) translateY(165%);
}

.beverage-choice div img {
    max-width: 200px;
    max-height: 210px;
    transform: translateY(-25%);
}

/* Champagne section */
.champagne {
    margin: 4vh 0 10vh 0;
    padding: 2rem;
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
    place-self: center;
    place-content: center;
    max-width: 1920px;
}

.champagne p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.champagne a {
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    background-color: var(--accent);
    border-radius: 5px;
    width: 325px;
    margin: 0 auto;
}

/* Champagne - Intros */
.billecart,
.drappier {
    display: grid;
    max-width: 800px;
}

.billecart img,
.drappier img {
    align-self: center;
    margin: 2rem;
    max-width: 225px;
    place-self: center;
}

.billecart-txt,
.drappier-txt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.billecart-txt p,
.drappier-txt p {
    max-width: 40ch;
    font-size: 1.1rem;
    line-height: 1.6;
}

.billecart-selection,
.drappier-selection {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    padding: 2rem;
    position: relative;
    text-align: center;
}

.billecart-selection > div,
.drappier-selection > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.billecart-selection div div,
.drappier-selection div div {
    margin-bottom: 2rem;
}

.billecart-selection > div img {
    max-width: 190px;
    margin-bottom: -1rem;
}

.drappier-selection > div img {
    max-height: 210px;
    padding: 0 4rem;
}

.cuvees {
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    padding: 1rem;
}

.millesime {
    margin-top: 2rem;
}

.close-btn {
    z-index: 100;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    gap: 0.1rem !important;
}

/* Map + Legend */
.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    overflow: hidden;
    place-items: center;
}

/* Map */
#chartdiv {
    height: 75vh;
    width: 100%;
    margin: auto;
}

.legend {
    margin: auto;
    border-radius: 5px;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 1);
}

.legend h1 {
    background-color: var(--accent);
    color: #fff;
    padding: 0.75rem;
}

.legend .region {
    display: flex;
    flex-wrap: wrap;
    max-height: 640px;
    max-width: 920px;
}

.legend .region .domain {
    width: 460px;
    position: relative;
    border: 1px solid #fff;
    flex-grow: 1;
}

.legend .region .domain h2 {
    font-size: 1.3rem;
    position: absolute;
    color: #fff;
    top: 0.25rem;
    left: 1rem;
    z-index: 2;
}

.legend .region .domain ul {
    position: absolute;
    color: #fff;
    top: 1.85rem;
    left: 5rem;
    z-index: 2;
    text-align: left;
    font-size: 1.15rem;
    line-height: 1.7rem;
}

.legend img {
    height: 120px;
    object-fit: cover;
    width: 100%;
    filter: brightness(40%);
}

/* Mobile version */
.domainsMobile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    margin: 25vh auto 10vh auto;
    gap: 2rem;
}

.regionDiv {
    margin: 0 auto;
}

.regionDiv h1 {
    background-color: var(--accent);
    color: #fff;
    text-align: center;
}

.regionDiv:first-child {
    grid-row: 1 / span 3;
}

.regionDiv:nth-child(5) {
    grid-row: 4 / span 5;
}

.regionDiv div {
    width: 375px;
    height: 175px;
    position: relative;
    border: 1px solid #fff;
}

.regionDiv div h2 {
    font-size: 1.3rem;
    position: absolute;
    color: #fff;
    top: 1rem;
    left: 0.5rem;
    z-index: 2;
}

.regionDiv div ul {
    position: absolute;
    color: #fff;
    top: 3rem;
    left: 2rem;
    z-index: 2;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.regionDiv img {
    height: 175px;
    object-fit: cover;
    width: 100%;
    filter: brightness(40%);
}

/* Footer */
footer {
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vh;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    z-index: 3;
}

@media screen and (min-width: 1080px) {

    .beverage-choice .vins a h1 {
        transform: rotate(-90deg) translate(-30px, 55px);
    }

    .beverage-choice .champagnes a h1 {
        transform: rotate(-90deg) translate(-20px, 55px);
    }

    .beverage-choice .whiskies a h1 {
        transform: rotate(-90deg) translate(-40px, 70px);
    }

    .beverage-choice div img {
        transform: translateY(0);
    }

    .billecart-selection,
    .drappier-selection {
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 25px;
        padding: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 2;
    }

    .billecart-selection > div,
    .drappier-selection > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .drappier-selection > div > div {
        min-width: 250px !important;
    }

    .billecart-selection img,
    .drappier-selection img {
        max-width: 190px;
        max-height: 210px;
        cursor: pointer;
    }

    .billecart-selection div div,
    .drappier-selection div div {
        margin-bottom: 0rem;
    }

    .billecart-selection > div > div > h1,
    .drappier-selection > div > div > h1 {
        text-align: center;
    }

    .cuvees,
    .millesime {
        margin-top: 0;
        background-color: rgba(255, 255, 255, 0);
    }
}
